# 資料庫連接
DATABASE_URL="mysql://root:102453775@127.0.0.1:3306/shin02"

# 伺服器設定
PORT=3005

# CORS 設定 - 前端允許的網域
FRONTEND_URL="https://your-production-domain.com"

# Session 設定
SESSION_SECRET="your-session-secret-key-here"
SESSION_PATH="./sessions"

# JWT 設定
JWT_SECRET=hjsJJH74727jshdgsj8388678
JWT_EXPIRES_IN="24h"

# 環境設定
NODE_ENV="development"

#綠界支付
ECPAY_HASHKEY="pwFHCqoQZGmho4w6"
ECPAY_HASHIV="EkRm7iFT261dpevs"
MERCHANT_ID="3002607"
SERVER_RETURN_URL="https://declaratory-abdiel-numbingly.ngrok-free.dev"
ORDER_RESULTURL=""